*{
    font-family: 'Roboto', 'Poppins', sans-serif;
    margin: 0%;
}

body {
    flex-wrap: wrap;
}

header{
    width: 100%;
    background-color: #fff;
    height: 120px;
    display: flex;
    padding-left: 25px;
}

.header {
    width: 60%;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 30px;
    opacity: 1;
}

.header a.logo {
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: 900;
    text-decoration: none;
    color: #2747c5;
  }

.navigation {
    width: 40%;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.navigation a {
    font-family: 'Poppins';
    font-weight: 800;
    text-decoration: none;
    color: #6d7b93;
    line-height: 40px;
    border-radius: 5px;
    padding: 10px 20px;
}


.navigation a:hover {
    background-color: #3858d6;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    filter: drop-shadow(1px 1px 2px #3858d6);
  }


#section1 {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-self: center;
    justify-content: center;
}

#section1 h1 {
    color: #1f3e72;
    padding: 15px;
    font-size: 60px;
    margin-top: 10%;
}

#section1 h1, h3 {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 20px;
}

#section1 h3, .banner1 h3 { 
    color: #6d7b93;
    font-family: 'Poppins';
    padding-left: 20px;
}

.img1 {
    float: left;
    background: url("./img/bg.jpg") center center;
    width: 50%;
    height: 800px;
    background-size: cover;
    opacity: 0.9;
    background-color: #fff;

}

.yellowimg1 img, .yellowimg2 img {
    width: 20px;
    padding-right: 5px;
    filter: drop-shadow(1px 1px 10px #ffd012);
}

.yellowimg1, .yellowimg2 {
    width: 50%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f3e72;
    gap: 2%;
}

.yellowimg1 {
    float: left;
}
.yellowimg2 {
    float: right;
}

#section1 h2 {
    color: #1f3e72;
    margin: 200px;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.imgblue {
    width: 18px;
    filter: drop-shadow(1px 1px 10px #3454d2);
}

.img2 {
    float: right;
    background: url("./img/covid3.jpg") center center;
    width: 50%;
    height: 800px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }

.banner1 {
    background-color: #fff;
    width: 60%;
    height: 140px;
    position: absolute;
    left: 10%;
    top: 92%;
    box-shadow: 1px 10px 30px #4354977a;
    border-radius: 10px;
}

.blueicon {
    width: 18px;
    background-color: #e9f1fd;
    padding: 8px;
    border-radius: 4px;
}

.banner1 h3 {
    display: flex;
    align-items: center;
}

#form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 50px 50px;
    grid-gap: 15px;
    margin: 30px;
    justify-content: space-around;
}

label {
    color: #6d7b93;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 18px;
}

input[type=date], select  {
    color: #1f3e72;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 5px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5px;
}


#section2 {
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: baseline;
}

.logos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

#section2 img {
   -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    opacity: 0.15;
    width: 15%;
}

.txt {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 5%;
}

.txt h2 {
    color: #1f3e72;
    font-size: 30px;
}

.txt p {
    color: #6d7b93;
    font-family: 'Poppins';
    font-weight: bolder;
    letter-spacing: 1px;
    padding-top: 25px;
}


